[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
tensorflow = "==2.17.1"
torch = "==2.5.0"
matplotlib = "==3.9.4"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
